.btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  .btn-ghost:hover {
    opacity: 1;
  }

  .btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #1EDD88;
    transition: background 0.3s ease;
  }

  .btn-flat:hover {
    background: #1BCB7F;
    color: white;
  }

  .btn-gradient {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    font-weight: bold;
    background: linear-gradient(#167FFB, #0F60C4);
    transition: background 0.3s ease;
    border: 1px solid #0F60C4;
  }

  .btn-gradient:hover {
    background: linear-gradient(#147EFF, #0F67DA);
    color: white;
  }
.btn-gradient{
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
}
.btn-gradient .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }

  .btn-gradient:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }

  .btn-gradient:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }

  .btn-gradient:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }

  .button-delete {
    float: right;
    margin: 24px;
  }

  .btn {
    border-radius: 5px;
    color: white;
  }

  .btn-primary:hover{
    color: white;
  }

  .swal-button--confirm {
    background: #f4a261;
  }
